{% extends 'base.html' %}


{% block content %}
{% load cart %}
<div class="container">
   <div>
        <h1 class="text-center">Your Cart</h1>
        <hr>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Sno.</th>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                {% for product in products %}
                <tr class="bg-success">
                    <td>{{forloop.counter}}</td>
                    <td><img style="height: 80px;"src="{{product.image.url}}" alt="image not found"></td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product|cart_quantity:request.session.cart}}</td>
                    <td>{{product|price_total:request.session.cart}}</td>
                    <td>
                      <form action ='/cart' method="POST">
                        {% csrf_token %}
                        <input hidden type="text" name="remove_item" value={{product.id}}>
                        <input type="submit" class="btn-block btn-danger" value="remove">
                      </form>
                    </td>
                </tr>

                {% endfor %}

            </tbody>

            <tfoot>
                <tr>
                    <th colspan="4"></th>
                    <th class="" colspan="">Total</th>
                    <th>{{products|total_cart_price:request.session.cart}}</th>
                </tr>
            </tfoot>
        </table>
        <hr>
        <div class="m-3 p-3">
            <h1><a href="#" data-toggle="modal"  data-target="#exampleModal">Check out</a></h1>
        </div>
        <form action='/cart' method="POST">
        {% csrf_token %}
        <input hidden type="text" name="clear" value=True >
        <input type="submit" class="btn-block btn-lg btn-danger" value="Remove all items">
      </form>
   </div>
</div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">

          <h5 class="modal-title" id="exampleModalLabel">
              Check Out Form
          </h5>
          <hr>
          <button type="button" class="btn-danger" data-dismiss="modal" aria-label="Close">Close</button>
        </div>
        <div class="modal-body">
          <div class="m-2 p-3">
            <form action="/check-out" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="">Address</label>
                  <input type="text" name="address" id="" class="form-control" placeholder="" aria-describedby="helpId">

                </div>
                <div class="form-group">
                    <label for="">Phone</label>
                    <input type="text" name="phone" id="" class="form-control" placeholder="" aria-describedby="helpId">
                  </div>
                  <input type="submit" class="btn-primary" value="Check out">
            </form>
            </div>
          </div>
        </div>

      </div>
    </div>




{% endblock %}
