{% extends 'base.html' %}
{% block content %}

<div class="card text-center">
  <div class="card-header">
    <h1>Change Password</h1>
  </div>

<form action="/change_password" method="POST">
  <div class="card-body">
     {% csrf_token %}
     {% if error %}
     <div class="alert alert-danger" role="alert">
        {{error}}
     </div>
     {% endif %}
     <label form=""><h3>Current Password</h3></label>
     <input type="password" name="current" id="" placeholder="******"><br>
     <label form=""><h3>New Password</h3></label>
    <input type="password" name="new" id="" placeholder="******"><br>
    <label form=""><h3>Confirm Password</h3></label>
   <input type="password" name="confirm" id="" placeholder="******"><br>
  </div>
  <div class="card-footer">
  <input type="submit" class="btn-primary btn-lg" value="Change Password">
</form>
</div>


{% endblock %}
