{% extends 'base.html' %}


{% block content %}
{% load cart %}
<div class="container">
   <div>
        <h1 class="text-center">Your Orders</h1>
        <hr>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Sno.</th>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Date</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Shipping Address</th>
                    <th>Total</th>

                    <th>Status</th>
                </tr>
            </thead>
            <tbody>

                {% for order in orders %}
                {% if order.status %}
                <tr class="table-success">
                  {% else %}
                  <tr class="table-danger">
                    {% endif %}
                    <td>{{forloop.counter}}</td>
                    <td><img style="height: 80px;"src="{{order.product.image.url}}" alt=""></td>
                    <td>{{order.product.name}}</td>
                    <td>{{order.date}}</td>
                    <td>RS.{{order.price}}</td>
                    <td>{{order.quantity}}</td>
                    <td>{{order.address}}</td>
                    <td>{{order|order_price}}</td>

                    {% if order.status %}
                    <td>Completed</td>
                    {%else%}
                    <td>Pending</td>
                    {% endif %}
                </tr>

                {% endfor %}

            </tbody>

        </table>

   </div>
</div>
{% endblock %}
