{% extends 'base.html' %}


{% block content %}
{% load cart %}
<div class="container">
   <div>
        <p>Your Orders</p>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Sno.</th>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Date</th>
                    <th>Price</th>
                    <th>Quantity</th>

                    <th>Status</th>
                </tr>
            </thead>
            <tbody>

                {% for order in orders %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img style="height: 80px;"src="{{order.product.image.url}}" alt=""></td>
                    <td>{{order.product.name}}</td>
                    <td>{{order.date}}</td>
                    <td>RS.{{order.price}}</td>
                    <td>{{order.quantity}}</td>
                    {% if order.status %}
                    <td>Completed</td>
                    {%else%}
                    <td>Pending</td>
                    {% endif %}
                </tr>

                {% endfor %}

            </tbody>

        </table>

   </div>
</div>





{% endblock %}
