{% load static %}
<html>
<head>
  <title>Products</title>
</head>
<body>
  {% if user.is_authenticated %}
    {% for product in products %}
        {% ifchanged product.categories %}
        <h2>{{product.categories}}</h2>
        {% endifchanged %}<br>
        <p>{{product.items}}</p>
        <centre>
          <img src="{% static product.image %}" width=100px alt="screenshot of project">
        </centre>
        <p>price=RS.{{product.price}}</p>
        <button type="button">Add to cart</button>
  {% endfor %}
  {% else %}
     <a href="{% url 'login' %}">Login</a>
  {% endif %}
  <br>
  <hr>
<a href="{% url 'admin:logout' %}"><button type="button">Logout</button></a>
</body>
</html>
